/* Board Colors 
 -white : #ffe8d6
 -black : #b98b73
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Rubik", sans-serif;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

table {
  width: 80rem;
  height: 80rem;
  border-collapse: collapse;
  border: 1px solid #444;
}

td {
  width: 10rem;
  height: 10rem;
  border: 1px solid #444;
  text-align: center;
  vertical-align: middle;
}

img {
  width: 5rem;
  height: 5rem;
}

img:hover {
  cursor: pointer;
}
