/* Board Colors 
 -white : #ffe8d6
 -black : #b98b73
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

table {
  width: 80rem;
  height: 80rem;
  border-collapse: collapse;
  border: 2.5rem solid #444;
}

td {
  width: 10rem;
  height: 10rem;
  border: 4px solid #444;
  text-align: center;
  vertical-align: middle;
}

img {
  width: 6rem;
  height: 6rem;
}

img:hover {
  cursor: pointer;
}

.header-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.header-title {
  font-family: "Pushster", cursive;
  font-size: 7rem;
}

.header-my-name {
  font-size: 2rem;
  letter-spacing: 0.2rem;
}
